<IfModule mod_rewrite.c>
  RewriteEngine On

  # Aturan Proxy Sitemap (Letakkan Paling Atas)
  RewriteRule ^sitemap\.xml$ https://back.solher.co.id/api/sitemap.xml [P,L]

  # Aturan Default SPA Vue
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>